* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    
}
body {
    height: 100%;
    line-height: 1.7;
    color: $color-text;
    background-color: $color-light-1; 
    font-family: $font-fira;
    font-size: 17px;    
    overflow: auto; 
    margin: .1rem;
 }
 .container {
     background: linear-gradient(to bottom right,rgba(27, 20, 100, 0.658), rgba(6, 81, 221, 0.486), rgba(18, 203, 197, 0.616));
 }

 div {
    color: white;
    border: 2px dotted white; 
}

