* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    
}
body {
    height: 100%;
    line-height: 1.7;
    color: $color-text;

    font-family: $font-merriweather;
    font-size: 17px;    
    overflow: auto; 
    margin: .1rem;
 }
 .container {
     background: #d1d8e0;
 }
 @font-face {
    font-family: 'Social Circles';
    src: url('/assets/images/icons/Social Circles.otf');
  }
  @font-face {
    font-family: 'Social Color Pro';
    src: url('/assets/fonts/Social Color Pro.otf');
  }




