.blog {

    &-title {
        margin-top: 3.5rem;
        font-size: 40px;
        line-height: 1.5;
        
    }
    h2 {
        line-height: 1.5;
        font-family: $font-fira;
        border-top: 1px dotted $color-light-1;
        
    }
    .img-full {
        width: 100%;
        margin-top: 2rem;
    }
}
.blog-meta {
    font-size: .80rem;
    margin-top: 2rem;
    border-top: 1px dotted $color-light-3;
    border-bottom: 1px dotted $color-light-3;
    font-weight: bold;
    line-height: 2;
    a {
        text-decoration: none;
        color: #2980b9;
    }
    em {
        font-family: 'Times New Roman', Times, serif;
    }

}
.opening-p::first-letter {
    /* color: crimson; */
    text-stroke: 4px navy;
    color: #903;
    float: left;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 12px;
    padding-left: 3px;
    
  }