/* Change .main padding-bottom and .footer margin-top if  you want to change the footer height. */
.footer {
    height: 200px;
    margin-top: -200px;
    clear: both;
    background-color: black;
    z-index: 1;
.copyright {  
    bottom: 0;
    text-align: center;
}
}